nav{
  width: 100%;
  /*display: flex;*/
  background: #FFAAAA;
  text-align: center;
  padding: 0.1em;
}
nav ul{
   display: inline-flex;
   list-style:none;
   margin: 0 auto;
   padding: 0;
}

#main-nav{
  font-size: 1em;
}

.zoom:hover{
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

nav li{
  text-transform: ;

}

nav a{
  text-decoration: none;
  color: #000;
}

nav ul li a{
  display: inline-block;
  padding: 30px 30px 20px;
  position: relative;
  transition: color .40s;
}

nav ul li a:hover{
   color: blue;
   text-decoration: none;

}

nav ul li a:hover:before{
  content: '';
  width: 100%;
}

@media (max-width: 768px){
  nav ul{
    display: flex;
    flex-direction: column;
    justify-content:center;
  }
  #top-nav{
    display: none;
  }
}



  nav ul li a{
    display: flex;
    justify-content: center;
  }

  nav ul li a:before{
    right: 0;
    left: 0;
    bottom: 0;
  }
}




#top-nav{
  background-color: #d5f8e8;
  font-size: 0.8em;



}

#top-nav a{
  text-decoration: none;
  padding: 1.2em;
}

.parallax {
    /* The image used */
    background-image: url("pics/kia.jpg");

    /* Set a specific height */
    min-height: 250px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




/* Dropdown Button */
.dropbtn {
 padding: 16px;
 padding-top: 30px;
 font-size: 16px;
 border: none;
 background-color: #ffffff;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
 position: relative;
 display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
 display: none;
 position: absolute;
 background-color: #ffffff;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #d5f8e8;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: flex;}

/*======================================================
                          lOGO



.logo {
  float: left;
  margin-left: 28px;
  font-size: 1.5em;
  padding-top: 20px;
  height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
} @media(max-width: 768px) {
    .logo {
/*       margin-left: 5px; */
    }
  }

  ======================================================*/
  @import url('https://fonts.googleapis.com/css?family=Oswald');

  body {
    font-family: Oswald;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  h2,h3,a {
    color: #34495e;
  }

  a {
    text-decoration: none;
  }

  .logo {
    margin: 0;
    font-size: 1em;
  }

  .main-nav {
    margin-top: 0px;
  }

  .logo a,.main-nav a {
    padding: 10px 20px;
    text-transform: uppercase;
    text-align: center;
    display: block;
  }

  .main-nav a {
    color: #34495e;
    font-size: .99em;
  }

  .main-nav a:hover {
    color: #718daa;
  }

  .header {
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: #f4f4f4;
  }

  @media (min-width: 769px) {
  	.header,
  	.main-nav {
  		display: flex;
  	}
  	.header {
  		flex-direction: column;
  		align-items: center;
      	.header{
  		width: 80%;
  		margin: 0 auto;
  		max-width: 1150px;
  	}
  	}

  }

  @media (min-width: 1025px) {
  	.header {
  		flex-direction: row;
  		justify-content: space-between;
  	}

  }
